<Project>
    <PropertyGroup>
        <SharedDependencyMode>local</SharedDependencyMode>
        <UtilityProjectPath>$(MSBuildThisFileDirectory)../Utility/src/Utility/Utility.csproj</UtilityProjectPath>
    </PropertyGroup>
</Project>
