<Project>
  <PropertyGroup>
    <SharedDependencyMode>local</SharedDependencyMode>
    <UtilityProjectPath>$(MSBuildThisFileDirectory)../Utility/Utility/Utility.csproj</UtilityProjectPath>
  </PropertyGroup>
</Project>
